.item-name {
    padding-left: 20px;
    position: relative;
    font-family: 'Inter';
    font-size: 20px;
    
}

.item-frame {
    display: flex;
    justify-content: left;
    align-content: left;
}

.item-image {
    font-size: 80px;
}