.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.popup-inner {
    position: absolute;
    width: 1289px;
    height: 633px;
    left: 380px;
    top: 222px;

    background: #152332;
    border-radius: 30px;
}

.popup-inner .close-btn {
    position:absolute;
    top:16px;
    right: 16px;
    width: 50px;
    height: 50px;
    font-size:50px;
    font-family:Arial, Helvetica, sans-serif;
}

